body {
	background-color: #0d204a;
}
h1 {
	font-family: arial;
	color: #fff;
	font-weight: bolder;
	font-variant: small-caps;
	font-size: 30px
}

h2 {
	font-family: arial;
	color: #fff;
	font-style: italic;
	font-size: 15px
}

p {
	font-family: arial;
	color: #fff;
	font-size: 10px

}