* {
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
/*TYPOGRAPHY*/
body {
	background: #fefefe;
	font-family: Verdana, Helvetica, Arial, Sans-Serif;
}
section#splash {
	background:url(../images/Blue_Orange_Front1-1600x600.jpg);
	background-size:cover;
	background-repeat:no-repeat;
	height:50vh;
}
h1 {
	font-size: 36px;
	font-weight: bold;
	color: #a50a2d;
}
h2 {
	color: #a50a2d;
}
/*.links {
	font-size: 1.2em;
	color: #555;
	text-decoration: none;
}
.links:hover {
	font: 20px;
	color: #ff0000;
	text-decoration: underline;
	font-weight: bold;
}*/
}
nav ul {
	text-align: center;
	list-style-type: none;
	background-color: #fff;
	overflow: auto;
	box-shadow: 0px 1px 10px #5e5e5e;
}
nav li {
	font-size: 2em;
	text-decoration: none;
	display: inline;
	line-height: 40px;
	height: 40px;
}
nav a {
	text-decoration: none;
	color: #555;
}
nav a:hover {
	color: #a50a2d;
}
nav a:active {
	color: #fff;
	background-color: #a50a2d; 
}
hr {
	width: 100%;
	color: #ff0000;
	height: 1px;
}
.littlenav ul {
	text-align: right;
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #fff;
	overflow: auto;
}
.littlenav li {
	font-size: 14px;
	text-decoration: none;
	display: inline;
	line-height: 15px;
}
.littlenav a {
	text-decoration: none;
	color: #555;
}
.littlenav a:hover {
	color: #a50a2d;
}
.littlenav a:active {
	color: #fff;
	background-color: #a50a2d;
}
.copyright {
	font-size: 10px;
	color: #444;
	text-align:center;
}
#hero {
	display: block;
	margin: auto;
}
/*.links:active {

}*/

/*NAVIGATION*/

